@inherits UmbracoViewPage<comandamancare.Models.ContactSugestiiClienti>

<br> <br>
@using (Html.BeginUmbracoForm("SubmitForm", "ContactSugestiiClientiSurface", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class = "form-box">   

    <div class="form-group">
        <div class="col-xs-3">
            @Html.LabelFor(m => m.FirstName)
        </div>
        <div class="col-xs-9">
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor( m => m.FirstName)
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-3">
            @Html.LabelFor(m => m.LastName)
        </div>
        <div class="col-xs-9">
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-3">
            @Html.LabelFor(m => m.EmailAddress)
        </div>
        <div class="col-xs-9">
            @Html.TextBoxFor(m => m.EmailAddress)
            @Html.ValidationMessageFor(m => m.EmailAddress)
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-3">
            @Html.LabelFor(m => m.Message)
        </div>
        <div class="col-xs-9">
            @Html.TextAreaFor(m => m.Message)
            @Html.ValidationMessageFor(m => m.Message)
        </div>
    </div>
    <button class = "btn btn-light">Trimite</button>
        @* Am testat cu PaperCut daca functioneaza *@
</div>

}


<style> 

.form-box {
    text-align: left;
    
    font-size: 30px;
    
    background-image: url("https://thumbs.dreamstime.com/z/asian-food-background-various-ingredients-rustic-stone-top-view-vietnam-thai-cuisine-148762904.jpg");
    background-size: cover;
    width: 100%;
    padding: 50px;
    border-radius: 40px;
    
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    
}



#Message, input {
    font-size: 20px;
     width: 50%;
}



button {
    font-size: 20px;
    width: 10%;
}



</style>


