@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Products> 

@using ContentModels = Umbraco.Web.PublishedModels;

@{
	Layout = "Master.cshtml";
}
<br> <br>
    @Html.GetGridHtml(Model, "bodyText", "bootstrap3-fluid")

<br> <br>
           
           
@{
   
	var selection = Umbraco.Content(Guid.Parse("7f2de253-1fd1-4b59-a34e-71fcf9cf0982"))
    .ChildrenOfType("product")
    .Where(x => x.IsVisible());
  
    
}

<div class = "body"> 

     <div class = "center">  
        	
            @if (Model.FeaturedProducts != null)
            {
                foreach (ContentModels.Product product in Model.FeaturedProducts)
                {
                    
                    <br> <br>
                    <div class="card">
                        <br>
                          <img class="card-img-top" src="@product.Photos.Url" style ="width:50%">
                          <div class="card-body">
                            <h5 class="card-title">@product.ProductName</h5>
                            <p class="card-text">@product.Description</p>
                            <a href="@product.Url" class="btn btn-outline-dark" style="width: 100%;">@Model.Value("veziRestaurantButton", fallback: Fallback.ToAncestors)</a>
                            </div>
                    </div>
                    <br> <br> 
                    
                }
             
            }
            
            
        </div>  
    </div>      
            
            
            <style>
            
                
                .card{
                
                     font-family: cursive;
                     box-shadow:
                               inset 0 -3em 3em rgba(0,0,0,0.1),
                                     0 0  0 2px rgb(255,255,255),
                                     0.3em 0.3em 1em rgba(0,0,0,0.3);
                     width: 30%;
                }
                
                
                
                
                @@media screen and (max-width: 1400px) {
                
                .card{
                
                 width: 40%;
                 
                }
                
                
                
                }
                
                 
                @@media screen and (max-width: 1000px) {
                
                .card{
                
                 width: 60%;
                 
                }
                footer {
                width: 100%}
                
                
                }
                
                
                
            </style>