@inherits UmbracoViewPage<comandamancare.Models.User>

<br>
<br>
@using (Html.BeginUmbracoForm("SubmitForm", "SignInSurface", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="form-box">
        <div class="form-content">

            <div class="form-group">
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.UserName)
                </div>
                <div class="col-xs-9">
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="col-xs-9">
                    @Html.TextBoxFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>

            <strong> @Html.DisplayFor(m => m.LoginErrorMessage) </strong>

            <button class="btn btn-success">Intra in cont!</button>
            <button class="btn btn-warning" type="reset">Reset</button>
        </div>
     </div>



   }

<style>
    
    
    
   
    .form-box{
        background-image: url("https://www.sierraclub.org/sites/www.sierraclub.org/files/styles/flexslider_full/public/sierra/articles/big/SIERRA%20Produce%20WB.jpeg?itok=tWu9uT2i");
       
        text-align: left;
        margin:auto;
        margin-top: 10%;
        width:70%;
        border-radius:10px;
        box-shadow:
               inset 0 -3em 3em rgba(0,0,0,0.1),
                     0 0  0 2px rgb(255,255,255),
                     0.3em 0.3em 1em rgba(0,0,0,0.3);
        padding: 25px;
        color:white;
        
        
    }
    
    input{
        font-size: 20px;
        background-color:#fff;
        border:none;
        border-radius:10px;
        
        
    }
    
    
  
    .form-group,button{
        
        font-size:30px;
        font-family:cursive;
        margin-top:40px;
        
        
        
    }
    
   
    
    span{
        color:red;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
        font-size:16px;
        position:absolute;
        display:block;
        

    }



    @@media screen and (max-width: 800px) {

        input {
            width: 100%
        }

        .form-group {
            font-size: 20px;
        }


        @@media screen and (max-width: 500px) {

            .form-box {
                width: 90%
            }
        }
</style>